<?xml version="1.0"?>
<!--
/**
 * Copyright © 2018 Stämpfli AG. All rights reserved.
 * @author marcel.hauri@staempfli.com
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="seo" translate="label" type="text" sortOrder="140" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>SEO Optimization</label>
            <tab>general</tab>
            <resource>Staempfli_Seo::seo</resource>
            <group id="opengraph" translate="label" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Open Graph Settings</label>

                <field id="enable" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Open Graph</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="site_name" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Site Name</label>
                    <comment>Displayed as og:site_name. Leave empty to use store name.</comment>
                </field>

                <field id="default_image" translate="label" type="image" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Default Open Graph Image</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Image</backend_model>
                    <upload_dir config="system/filesystem/media" scope_info="1">seo/opengraph</upload_dir>
                    <base_url type="media" scope_info="1">seo/opengraph</base_url>
                    <comment><![CDATA[Recommended size: 1200x630px. Used when page has no specific OG image.]]></comment>
                </field>

                <field id="default_image_products" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Product Image for OG</label>
                    <source_model>Magento\Catalog\Model\Config\Source\Product\Thumbnail</source_model>
                    <comment>Which product image to use for og:image</comment>
                </field>
            </group>

            <group id="twitter_card" translate="label" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Twitter Card Settings</label>

                <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Twitter Cards</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="type" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Default Card Type</label>
                    <source_model>Staempfli\Seo\Model\Config\Source\TwitterCard\Type</source_model>
                    <comment>summary = small image, summary_large_image = large image</comment>
                </field>

                <field id="site" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Twitter Site Handle</label>
                    <comment>@username of website. Used for attribution.</comment>
                    <validate>validate-twitter-handle</validate>
                </field>

                <field id="creator" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Twitter Creator Handle</label>
                    <comment>@username of content creator. Used for attribution.</comment>
                    <validate>validate-twitter-handle</validate>
                </field>
            </group>

            <group id="verifications" translate="label" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Site Verification</label>

                <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Site Verification</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="google" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Google Site Verification</label>
                    <comment>Enter the verification code from Google Search Console</comment>
                </field>

                <field id="bing" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Bing Site Verification</label>
                    <comment>Enter the verification code from Bing Webmaster Tools</comment>
                </field>

                <field id="pinterest" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Pinterest Site Verification</label>
                    <comment>Enter the verification code from Pinterest</comment>
                </field>

                <field id="yandex" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Yandex Site Verification</label>
                    <comment>Enter the verification code from Yandex Webmaster</comment>
                </field>
            </group>

            <group id="robots" translate="label" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Robots.txt</label>

                <field id="content" translate="label" type="textarea" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Custom Robots.txt Content</label>
                    <comment><![CDATA[Custom content to append to robots.txt. Leave empty to use default.]]></comment>
                </field>
            </group>

            <group id="hreflang" translate="label" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>HrefLang Settings</label>

                <field id="same_website_only" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Same Website Only</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Only show hreflang alternates for stores within the same website</comment>
                </field>

                <field id="locale_code" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Custom Locale Code</label>
                    <comment>Override locale code for hreflang (e.g., en-US). Leave empty to use store locale.</comment>
                </field>
            </group>
        </section>
    </system>
</config>
