<?xml version="1.0"?>
<!--
/**
 * Copyright © 2018 Stämpfli AG. All rights reserved.
 * @author marcel.hauri@staempfli.com
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="seo" translate="label" sortOrder="1000" showInDefault="1" showInWebsite="1" showInStore="1">
            <group id="opengraph" translate="label" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Open Graph Settings</label>

                <field id="enable" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Open Graph</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="site_name" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Site Name</label>
                    <comment>Displayed as og:site_name. Leave empty to use store name.</comment>
                </field>

                <field id="default_image" translate="label" type="image" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Default Open Graph Image</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Image</backend_model>
                    <upload_dir config="system/filesystem/media" scope_info="1">seo/opengraph</upload_dir>
                    <base_url type="media" scope_info="1">seo/opengraph</base_url>
                    <comment><![CDATA[Recommended size: 1200x630px. Used when page has no specific OG image.]]></comment>
                </field>

                <field id="default_image_products" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Product Image for OG</label>
                    <source_model>Magento\Catalog\Model\Config\Source\Product\Thumbnail</source_model>
                    <comment>Which product image to use for og:image</comment>
                </field>
            </group>

            <group id="twitter" translate="label" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Twitter Card Settings</label>

                <field id="enable" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Twitter Cards</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="card_type" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Default Card Type</label>
                    <source_model>Staempfli\Seo\Model\Config\Source\TwitterCardType</source_model>
                    <comment>summary = small image, summary_large_image = large image</comment>
                </field>

                <field id="site" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Twitter Site Handle</label>
                    <comment>@username of website. Used for attribution.</comment>
                    <validate>validate-twitter-handle</validate>
                </field>

                <field id="creator" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Twitter Creator Handle</label>
                    <comment>@username of content creator. Used for attribution.</comment>
                    <validate>validate-twitter-handle</validate>
                </field>
            </group>
        </section>
    </system>
</config>
